/* 安全提示 */
.safeTip{
    height: 34px;
    border-bottom: 1px  solid #ccc;
    line-height: 34px;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.safeTip p{
    font-size: 12px;
    color: #666;
   
}
.safeTip span{
    width: 18px;
    height: 15px;
    background: url(../images/security.png) no-repeat;
    background-size: 18px 15px;
}

/* 店铺 */
.shop{
    border-top: 1px  solid #ccc;
    margin-top: 10px;
}
.shop .shop_tit{
    height: 34px;
    line-height: 34px;
    display: flex;
    align-items:center;
    justify-content:space-between;
    border-bottom: 1px  solid #ccc;
}
.shop .shop_tit .shop_tit_left{
    display: flex;
    align-items:center;
}
.shop .shop_tit .shop_tit_left .check{
    width:34px;
    height: 34px;
    background-size: 20px 20px;
    position: center;
}
.shop .shop_tit .shop_tit_left .shopIcon{
    widows: 20px;
    height: 20px;
}
.shop .shop_tit .shop_tit_left .shopName{
    margin-left: 10px;

}
.shop .shop_tit .shop_tip_right{
    display: flex;
    align-items:center;
    margin-right: 10px;
}
.shop .shop_tit .shop_tip_right .shopTip{
    position: relative;
    float: right;
    color: #d8505c;
    font-size: 12px;
}

/* 商品盒子 */
.product{
    border-bottom: 1px  solid #ccc;
    height: 100px;
    padding: 10px 0;
    display: flex;
    align-items:center;
}
.product .check{
    width:40px;
    height: 34px;    
    background: url(../images/check.png) no-repeat;
    background-size: 20px 20px;
    position: center;
}
.product .product_img img{
    height: 80px;
    width: 80px;
}
.product .product_info{
    padding: 0 10px;
}
.product .product_info .name{
    height: 30px;

}
.product .product_info .price{
    color: #d8505c;
    margin-top: 5px;
    text-align: left;
}

/* 商品盒子_数量 */
.option{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.option .number{
    display: flex;
}
.option .number span{
    border: 1px  solid #ccc;
    height: 24px;
    width: 32px;
}
.option .number input{
    border-top: 1px  solid #ccc;
    border-bottom: 1px  solid #ccc;
    border-left: 0;
    border-right: 0;
    padding-left: 4px;
    padding-right: 4px;
    height: 22px;
    width: 32px;
}
.option .up{    
    width:20px;
    height: 5px;
    background: url(../images/category_03.png) no-repeat;
    background-size: 20px 5px;
    position: center;
}
.option .down{
    width:26px;
    height: 26px;
    background: url(../images/del.png) no-repeat;
    background-size: 18px 18px;
    position: center;
}